.DStore
.idea
*.ipy*
*.test.*
*.pyc
.cache*
storage/*
config/personal_config.py
*.jar
venv/*
data/*
dist/*
build/*
kozmodb.egg-info/*
clean_data
.pypirc
kozmodb_storage
__pycache__/
*.egg-info/
*.egg
